{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/js.cookie-2.0.4.min.js') }}"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock head %}
{% block content %}
<!-- Load the Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '232125117573843',
      cookie     : true,  // enable cookies to allow the server to access the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.12'
    });
  };
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h1>Login to MyCollections</h1>
  <div class="mdl-grid">
    <div class="zooma-card-login zooma-card-login-g mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Login with your <br> Google account
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <!-- Google+ Login Button -->
        <div id="signinButton">
          <span class="g-signin"
            data-scope="email"
            data-clientid="294397088481-hk2au2o0o4p9pu7cffm3pgara2phrais.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">account_circle</i>
      </div>
    </div>
    <!-- login with face book -->
    <div class="zooma-card-login zooma-card-login-fb mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Login with your <br> Facebook account
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <!-- Facebook login button -->
        <fb:login-button size="large" scope="public_profile,email" onlogin="sendTokenToServer();" style="height: 40px;">
          <a href="javascript:sendTokenToServer()">Login with Facebook</a>
        </fb:login-button>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">account_circle</i>
      </div>
    </div>
  </div>
  <div class="mdl-grid">
    <div id="result"></div>
  </div>
<script>
<!--  Login with Google script -->
function signInCallback(authResult) {
  if (authResult['code']) {
      // Hide the sign-in button now that the user is authenticated.
    $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server
      // responds, write a 'login successful' message to the web page
      // and then redirect back to the main restaurants page
    $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: authResult['code'],
        success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
              setTimeout(function() {
                window.location.href = "/";
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Faild to make a server side call. Check you configuation and console');
          }
        }
    });
  }
}
<!-- Facebook Login script -->
function sendTokenToServer() {
  var access_token = FB.getAuthResponse()['accessToken'];
  console.log(access_token);
  console.log('Welcome! Fetching your access token...');
  console.log(access_token);
  FB.api('/me', function(response) {
    console.log('Successful login for: ' + response.name);
    $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary
        if (result) {
          $('#result').html('Login Successful!</br>' + result + '</br> Redirecting...')
            setTimeout(function() {
              window.location.href = "/";
            }, 4000);
        } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
      }
    });
  });
}
</script>

{% endblock content %}